.superFancyBlockquote {
  color: #999;
  font-style: italic;
  text-align: center;
}

.md-RichEditor-root {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  color: #1a202c;
}

.public-DraftEditorPlaceholder-root {
  color: #cbd5e0;
}
