.editor-header-one {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 700;
}

.editor-header-two {
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 700;
}

.md-RichEditor-root {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  color: #1a202c;
}

.public-DraftEditorPlaceholder-root {
  color: #cbd5e0;
}
